<ion-header [translucent]="true" mode="ios">
  <ion-toolbar>
    <ion-back-button defaultHref="/" slot="start"></ion-back-button>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-avatar class="avatar">
    <img src="../../assets/images/MVIMG_20191224_142043-01.jpeg" alt="" />
  </ion-avatar>
  <p class="myclass">
    <br />
    Developed by Rohit <br />Mobile App Developer <br />
    App version 1.0 <br /><br />
    <ion-icon name="logo-instagram" style="align-items: inherit;"></ion-icon
    ><a href="https://www.instagram.com/ro.h.i.t_._" style="color: black;"
      >ro.h.i.t_._</a
    >
  </p>
</ion-content>
