<ion-header [translucent]="true" mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      COVID-19 Tracker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">COVID-19 Tracker</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="heading">
    <span style="color: white;">Please Select District of state {{state}}:</span>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let n of districts" col-sm-12 col-md-6 col-lg-4>
        <ion-card
          class="statesClass ion-activatable ripple-parent"
          (click)="gotoResult(n)"
        >
          {{n}}
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
