<ion-header [translucent]="true" mode="ios">
  <ion-toolbar>
    <ion-icon
      name="medical-outline"
      slot="start"
      size="large"
      style="margin-left: 5%;"
    ></ion-icon>
    <ion-title>
      COVID-19 Tracker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Virus Tracker</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="heading">
    <span style="color: white;">Please Select State:</span>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let n of states" col-sm-12 col-md-6 col-lg-4>
        <ion-card
          class="statesClass ion-activatable ripple-parent"
          (click)="gotoDistrict(n)"
        >
          {{n}}
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="center" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" (click)="about()">
      <ion-icon name="information"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
